<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PureFTPAnonymousCreateDir</key>
	<integer>0</integer>
	<key>PureFTPAnonymousNoDownload</key>
	<integer>0</integer>
	<key>PureFTPAnonymousNoUpload</key>
	<integer>0</integer>
	<key>PureFTPAnonymousRatio</key>
	<string></string>
	<key>PureFTPAnonymousSpeedLimit</key>
	<string></string>
	<key>PureFTPAtStartup</key>
	<integer>1</integer>
	<key>PureFTPAuthentificationMethods</key>
	<array>
		<dict>
			<key>auth.file</key>
			<string>/etc/pure-ftpd/pureftpd.pdb</string>
			<key>auth.type</key>
			<string>PureDB</string>
		</dict>
		<dict>
			<key>auth.file</key>
			<string>/etc/pam.d/pure-ftpd</string>
			<key>auth.type</key>
			<string>PAM</string>
		</dict>
	</array>
	<key>PureFTPAutoUpdate</key>
	<integer>1</integer>
        <key>PureFTPAutoUpdateStatus</key>
        <string>0</string>
	<key>PureFTPCreateHomeDir</key>
	<integer>1</integer>
	<key>PureFTPCheckVFolderPerm</key>
	<integer>1</integer>
	<key>PureFTPShowVFolderConsole</key>
	<integer>1</integer>
	<key>PureFTPExtraArguments</key>
	<string></string>
	<key>PureFTPFileCreationMask</key>
	<string>133</string>
	<key>PureFTPFolderCreationMask</key>
	<string>022</string>
	<key>PureFTPFXP</key>
	<integer>0</integer>
	<key>PureFTPForceActive</key>
	<integer>0</integer>
	<key>PureFTPForceIP</key>
	<string></string>
	<key>PureFTPLogAutoUpdate</key>
	<integer>0</integer>
	<key>PureFTPLogFormat</key>
	<string>CLF</string>
	<key>PureFTPLogLocation</key>
	<string>/var/log/pureftpd.log</string>
	<key>PureFTPLogNiceThread</key>
	<integer>1</integer>
	<key>PureFTPLogOnOff</key>
	<integer>1</integer>
	<key>PureFTPMaxLoad</key>
	<string></string>
	<key>PureFTPMaxPartition</key>
	<string></string>
	<key>PureFTPMaxSessions</key>
	<string></string>
	<key>PureFTPMaxUsers</key>
	<string>15</string>
	<key>PureFTPNoAnonymous</key>
	<integer>0</integer>
	<key>PureFTPPassiveRange</key>
	<string></string>
	<key>PureFTPPort</key>
	<string>21</string>
	<key>PureFTPPrefsUpdated</key>
	<integer>0</integer>
	<key>PureFTPRendezVous</key>
	<string>RDVAutoSet</string>
	<key>PureFTPResolvName</key>
	<integer>1</integer>
	<key>PureFTPServerMode</key>
	<integer>0</integer>
	<key>PureFTPTLSBehaviour</key>
	<string>0</string>
	<key>PureFTPTimeout</key>
	<string>15</string>
	<key>PureFTPUserBaseDir</key>
	<string>/Users/ftp/VirtualUsers</string>
	<key>PureFTPUserSpeedLimit</key>
	<string></string>
	<key>PureFTPVHostBaseDir</key>
	<string>/Users/ftp/VirtualHosts</string>
	<key>PureFTPVirtualHosts</key>
	<array/>
	<key>wizardCompleted</key>
	<string>NotDone</string>
	<key>ShowSplashWin</key>
	<integer>1</integer>
</dict>
</plist>
